<footer class="footer {% if mode == 'dark' %}dark-mode{% endif %}">
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque risus vel scelerisque cursus.</p>
                </div>
                <div class="col-md-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="/checkout">Checkout</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Contact</h5>
                    <ul class="list-unstyled">
                        <li>Email: info@example.com</li>
                        <li>Phone: +1 123 456 7890</li>
                        <li>Address: 123 Street, City, Country</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <p>&copy; 2023 My eCommerce Website. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

